<mat-card>
  <mat-card-header>
    <mat-card-title>Post new message</mat-card-title>
  </mat-card-header>
  <form>
    <mat-form-field class="example-full-width">
      <input
        matInput
        [(ngModel)]="userName"
        name="userName"
        placeholder="User Name"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea
        name="message"
        [(ngModel)]="message"
        matInput
        placeholder="Message Body"
      ></textarea>
    </mat-form-field>
  </form>
  <mat-card-actions>
    <button (click)="post()" mat-button style="background-color: #eeeeee;">
      POST
    </button>
  </mat-card-actions>
</mat-card>
<br />
<mat-card>
  <mat-card-header>
    <mat-card-title>Messages</mat-card-title>
  </mat-card-header>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let msg of messages">{{
      msg.msg
    }}</mat-list-item>
  </mat-list>
</mat-card>